# Системные папки VS Code и блокнотов
.vscode/
.ipynb_checkpoints/
__pycache__/


# Виртуальные окружения
.venv/
venv/

# Датасеты и архивы (чтобы репозиторий был легким)
*.zip
*.csv
# Локальные конфигурационные файлы
.farshid/
